<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ProjectManager</title>
    <script src="http://localhost:8080/jquery/dist/jquery.min.js"></script>
    <meta http-equiv=”content-type” content=”text/html; charset=UTF-8″ />
    <link rel="stylesheet" href="http://localhost:8080/bootstrap-4.3.1-dist/css/bootstrap.min.css"> 
    <script src="http://localhost:8080/static/js/popper.min.js"></script>
    <script src="http://localhost:8080/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css"> 
    <script src="../static/js/bootstrap-table.min.js"></script> 
    <script src="http://localhost:8080/static/js/project.js"></script>
</head>
<style>
    body {
      margin: 0;
    }
    ul {
      list-style-type: none;
      margin: 0;
      left: 0;
      top: 10%;
      width: 20%;
      background-color: #f8f4f4;
      position: fixed;
      height: 90%;
      overflow: auto;
    }

    .tab-content {
      position:absolute;
      margin: 0;
      padding: 0;
      left: 20%;
      width: 80%;
      top: 10%;
      height: 90%;
    }

    #logo {
      list-style-type: none;
      margin: 0;
      left: 0;
      top: 0%;
      width: 20%;
      background-color: hsl(180, 2%, 59%);
      position: fixed;
      height: 10%;
      overflow: auto;
    }

    #display {
      position:absolute;
      margin: 0;
      padding: 0;
      left: 20%;
      width: 80%;
      top: 0;
      height: 10%;
      background-color: hsl(190, 21%, 89%);
      display: flex;
      align-items: center;
    }

    #logoinfo {
      top:0;
      right:0;
      bottom:0;
      left:0;
      margin:auto;

    }

    #lb-name {
      position:absolute;
      left: 2%;
      width: 20%;
    }

    #loginbtn {
      position:absolute;
      right: 2%;
      width: 20%;
    }

    #information {
      position: fixed;
      top: 5%;
    }
</style>

<body>
    <div class="container">

      <div class="text-center " id="logo">
        <p id="logoinfo" clase="text-info" style="color:white"><strong>信息化建设项目全生命周期管理信息系统</strong></p>
      </div>

      <ul class="nav nav-tabs flex-column">
        <li class="nav-item" id="li1">
          <a class="nav-link active text-center" data-toggle="tab" href="#tab-1">过审项目</a>
        </li>
        <li class="nav-item" id="li2">
          <a class="nav-link text-center" data-toggle="tab" href="#tab-2">执行中项目</a>
        </li>
        <li class="nav-item" id="li3">
          <a class="nav-link text-center" data-toggle="tab" href="#tab-3">已完成项目</a>
        </li>
      </ul>

      <div id="display">
        <div id="lb-name" style="height: auto;">
          <label id="u-name" >过审项目</label>
        </div>
        
        <div id="loginbtn">
            <button type="button" class="btn btn-primary" id="btn-login">登录</button>
        </div>
      </div>
      
      <hr>     
     
  <!-- 项目详情 -->
  <div class="modal fade" id="modal-apply-project-detail">
    <div class="modal-dialog">
      <div class="modal-content">
   
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">项目详情</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
   
        <!-- 模态框主体 -->
        <div class="modal-body">
            <div>
              <h4>项目信息:</h4>
              <form>
                  <div class="form-group">
                    <label for="project-detail-id" style="font-weight:bold;">项目ID:</label>
                    <label id="project-detail-id"></label>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <label for="project-detail-name" style="font-weight:bold;">项目名:</label>
                    <label id="project-detail-name"></label>
                  </div>
                  <div class="form-group">
                    <label for="project-detail-organization" style="font-weight:bold;">所属学院:</label>
                    <label id="project-detail-organization"></label>
                  </div>
                  <div class="form-group">
                    <label for="project-detail-budget" style="font-weight:bold;">最终预算:</label>
                    <label id="project-detail-budget"></label>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <label for="project-detail-createtime" style="font-weight:bold;">创建时间:</label>
                    <label id="project-detail-createtime"></label>
                  </div>
                  <div class="form-group">
                      <label for="project-detail-inviteway" style="font-weight:bold;">招标方式:</label>
                      <label id="project-detail-inviteway"></label>
                      &nbsp; &nbsp; &nbsp; &nbsp;
                    <label for="project-detail-purpose" style="font-weight:bold;">项目用途:</label>
                    <label id="project-detail-purpose"></label>
                  </div>
                  <div class="form-group">
                      <label for="project-detail-function" style="font-weight:bold;">主要功能:</label>
                      <label id="project-detail-function"></label>
                  </div>
                  <div class="form-group">
                      <label for="project-detail-result" style="font-weight:bold;">预期结果:</label>
                      <label id="project-detail-result"></label>
                  </div>
                  <div class="form-group">
                    <label for="project-detail-instruction" style="font-weight:bold;">补充说明:</label>
                    <label id="project-detail-instruction"></label>
                  </div>
              </form>
            </div>
            <hr>
            <div>
              <h4>教师信息:</h4>
              <form>
                <div class="form-group">
                  <label for="teacher-detail-name" style="font-weight:bold;">教师姓名:</label>
                  <label id="teacher-detail-name"></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <label for="teacher-detail-id" style="font-weight:bold;">教师ID:</label>
                  <label id="teacher-detail-id"></label>
                </div>
                <div class="form-group">
                  <label for="teacher-detail-sex" style="font-weight:bold;">性别:</label>
                  <label id="teacher-detail-sex"></label>
                </div>
                <div class="form-group">
                  <label for="teacher-detail-organization" style="font-weight:bold;">所属学院:</label>
                  <label id="teacher-detail-organization"></label>
                </div>
                <div class="form-group">
                    <label for="teacher-detail-pt" style="font-weight:bold;">职称:</label>
                    <label id="teacher-detail-pt"></label>
                </div>
                <div class="form-group">
                    <label for="teacher-detail-tel" style="font-weight:bold;">联系方式:</label>
                    <label id="teacher-detail-tel"></label>
                </div>
              </form>
            </div>    
        </div>
   
        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn-skip-audit">审核</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
   
      </div>
    </div>
  </div>

  <!-- 项目招标信息 -->
  <div class="modal fade" id="modal-finished-project-inviteinfo">
    <div class="modal-dialog">
      <div class="modal-content">
   
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">招标信息</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
   
        <!-- 模态框主体 -->
        <div class="modal-body">
        <form >
          <div class="form-group">
            <label for="finished-invite-project-id" style="font-weight:bold;">项目ID:</label>
            <label id="finished-invite-project-id"></label>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <label for="finished-invite-project-name" style="font-weight:bold;">项目名:</label>
            <label id="finished-invite-project-name"></label>
          </div>
          <div class="form-group">
            <label for="finished-invite-project-budget" style="font-weight:bold;">计划预算:</label>
            <label id="finished-invite-project-budget"></label>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <label for="finished-invite-project-finfunds" style="font-weight:bold;">中标金额:</label>
            <label id="finished-invite-project-finfunds"></label>
          </div>
          <div class="form-group">
              <label for="finished-invite-project-begintime" style="font-weight:bold;">开始时间:</label>
              <label id="finished-invite-project-begintime"></label>
              <br>
              <label for="finished-invite-project-fintime" style="font-weight:bold;">结束时间:</label>
              <label id="finished-invite-project-fintime"></label>
            </div>
          <div class="form-group">
            <label for="finished-invite-project-inviteway" style="font-weight:bold;">招标方式:</label>
            <label id="finished-invite-project-inviteway"></label>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <label for="finished-invite-project-company" style="font-weight:bold;">中标公司:</label>
            <label id="finished-invite-project-company"></label>
          </div>
          <label for="finished-invite-instruction" style="font-weight:bold;">招标说明:</label>
          <div class="form-group">
            <textarea class="form-control" rows="3" id="finished-invite-project-instruction" readonly="readonly" name="finished-invite-instruction"></textarea>
          </div>
          <div class="form-group">
            <label style="font-weight:bold;">招标文件附件:</label>
            <div id="finished-invite-project-file"></div>
          </div>
        </form>
          
        </div>
   
        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
   
      </div>
    </div>
  </div>

      <!-- 已完成项目详情 -->
  <div class="modal fade" id="modal-finished-project-detail">
    <div class="modal-dialog">
      <div class="modal-content">
   
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">项目详情</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
   
        <!-- 模态框主体 -->
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="finished-project-detail-id" style="font-weight:bold;">项目ID:</label>
              <label id="finished-project-detail-id"></label>
              &nbsp; &nbsp; &nbsp; &nbsp;
              <label for="finished-project-detail-name" style="font-weight:bold;">项目名:</label>
              <label id="finished-project-detail-name"></label>
            </div>
            <div class="form-group">
              <label for="finished-project-detail-organization" style="font-weight:bold;">所属学院:</label>
              <label id="finished-project-detail-organization"></label>
            </div>
            <div class="form-group">
              <label for="finished-project-detail-finfunds" style="font-weight:bold;">计划预算:</label>
              <label id="finished-project-detail-finfunds"></label>
              &nbsp; &nbsp; &nbsp; &nbsp;
              <label for="finished-project-detail-usedfunds" style="font-weight:bold;">使用预算:</label>
              <label id="finished-project-detail-usedfunds"></label>
            </div>
            <div class="form-group">
              <label for="finished-project-detail-purpose" style="font-weight:bold;">项目用途:</label>
              <label id="finished-project-detail-purpose"></label>
            </div>
            <div class="form-group">
              <label for="finished-project-detail-function" style="font-weight:bold;">主要功能:</label>
              <label id="finished-project-detail-function"></label>
            </div>
            <div class="form-group">
              <label for="finished-project-detail-result" style="font-weight:bold;">预期结果:</label>
              <label id="finished-project-detail-result"></label>
            </div>
            <div class="form-group">
              <label for="finished-project-detail-instruction" style="font-weight:bold;">补充说明:</label>
              <label id="finished-project-detail-instruction"></label>
            </div>
            <div class="form-group">
              <label for="finished-project-detail-createtime" style="font-weight:bold;">创建时间:</label>
              <label id="finished-project-detail-createtime"></label>
              <br>
              <label for="finished-project-detail-runtime" style="font-weight:bold;">开始时间:</label>
              <label id="finished-project-detail-runtime"></label>
              <br>
              <label for="finished-project-detail-fintime" style="font-weight:bold;">结束时间:</label>
              <label id="finished-project-detail-fintime"></label>
            </div>
            <div class="form-group">
              <label for="finished-project-detail-completionstatus" style="font-weight:bold;">完成情况说明:</label>
                <label id="finished-project-detail-completionstatus"></label>
            </div>
            <div class="form-group">
              <label for="finished-project-detail-selfevaluation" style="font-weight:bold;">项目自评:</label>
              <label id="finished-project-detail-selfevaluation"></label>
            </div>
          </form>
          <hr>
          <div>
              <h4>教师信息:</h4>
              <form>
                <div class="form-group">
                  <label for="finished-teacher-detail-name" style="font-weight:bold;">教师姓名:</label>
                  <label id="finished-teacher-detail-name"></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <label for="finished-teacher-detail-id" style="font-weight:bold;">教师ID:</label>
                  <label id="finished-teacher-detail-id"></label>
                </div>
                <div class="form-group">
                  <label for="finished-teacher-detail-organization" style="font-weight:bold;">所属学院:</label>
                  <label id="finished-teacher-detail-organization"></label>
                </div>
                <div class="form-group">
                    <label for="finished-teacher-detail-pt" style="font-weight:bold;">职称:</label>
                    <label id="finished-teacher-detail-pt"></label>
                </div>
                <div class="form-group">
                    <label for="finished-teacher-detail-tel" style="font-weight:bold;">联系方式:</label>
                    <label id="finished-teacher-detail-tel"></label>
                </div>
              </form>
            </div>
        </div>
   
        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
   
      </div>
    </div>
  </div>

  <!-- 已完成项目查看事件 -->
  <div class="modal fade" id="modal-finished-project-listevent">
      <div class="modal-dialog">
        <div class="modal-content">
     
          <!-- 模态框头部 -->
          <div class="modal-header">
            <h4 class="modal-title">事件列表</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
     
          <!-- 模态框主体 -->
          <div class="modal-body">
              <div id="finished-project-event-list">

              </div>
          </div>
     
          <!-- 模态框底部 -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          </div>
     
        </div>
      </div>
    </div>
  
      <div class="tab-content">
        <div id="tab-1" class="container tab-pane active tabcontent"><br>
          

          <div class="btn-group">
            <button type="button" class="btn btn-primary" id="btn-refresh-PassProjectTable">刷新</button>
          </div>
          
          <div>
          <table id="PassProjectTable">
          
          </table>
          </div>
        </div>

      <div id="tab-2" class="container tab-pane fade tabcontent"><br>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" id="btn-refresh-RunningProjectTable">刷新</button>
        </div>
          
        <div>
          <table id="RunningProjectTable">
          
          </table>
        </div>
      </div>

      <div id="tab-3" class="container tab-pane fade tabcontent"><br>
        <div class="btn-group">
            <button type="button" class="btn btn-primary" id="btn-refresh-FinishedProjectTable">刷新</button>
        </div>
            
          <div>
            <table id="FinishedProjectTable">
            
            </table>
          </div> 
      </div>
    </div>
  </div>
  <script>

  </script>
  
</body>
</html>