<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ProjectManager</title>
    <script src="http://localhost:8080/jquery/dist/jquery.min.js"></script>
    <meta http-equiv=”content-type” content=”text/html; charset=UTF-8″ />
    <link rel="stylesheet" href="http://localhost:8080/bootstrap-4.3.1-dist/css/bootstrap.min.css"> 
    <script src="http://localhost:8080/static/js/popper.min.js"></script>
    <script src="http://localhost:8080/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css"> 
    <script src="../static/js/bootstrap-table.min.js"></script> 
    <script src="http://localhost:8080/static/js/teacher.js"></script>
</head>
<style>
    body {
      margin: 0;
    }
    ul {
      list-style-type: none;
      margin: 0;
      left: 0;
      top: 10%;
      width: 20%;
      background-color: #f8f4f4;
      position: fixed;
      height: 90%;
      overflow: auto;
    }

    .tab-content {
      position:absolute;
      margin: 0;
      padding: 0;
      left: 20%;
      width: 80%;
      top: 10%;
      height: 90%;
    }

    #logo {
      list-style-type: none;
      margin: 0;
      left: 0;
      top: 0%;
      width: 20%;
      background-color: hsl(180, 2%, 59%);
      position: fixed;
      height: 10%;
      overflow: auto;
    }

    #display {
      position:absolute;
      margin: 0;
      padding: 0;
      left: 20%;
      width: 80%;
      top: 0;
      height: 10%;
      background-color: hsl(190, 21%, 89%);
      display: flex;
      align-items: center;
    }

    #logoinfo {
      top:0;
      right:0;
      bottom:0;
      left:0;
      margin:auto;

    }

    #lb-name {
      position:absolute;
      left: 2%;
      width: 20%;
    }

    #dropdownbtn {
      position:absolute;
      right: 2%;
      width: 20%;
    }

    #information {
      position: fixed;
      top: 5%;
    }
</style>

<body>
    <div class="container">

      <div class="text-center " id="logo">
        <p id="logoinfo" clase="text-info" style="color:white"><strong>信息化建设项目全生命周期管理信息系统</strong></p>
      </div>

      <ul class="nav nav-tabs flex-column">
        <li class="nav-item" id="li1">
          <a class="nav-link active text-center" data-toggle="tab" href="#tab-1">暂存项目</a>
        </li>
        <li class="nav-item" id="li2">
          <a class="nav-link text-center" data-toggle="tab" href="#tab-2">执行项目</a>
        </li>
        <li class="nav-item" id="li3">
          <a class="nav-link text-center" data-toggle="tab" href="#tab-3">已完成项目</a>
        </li>
      </ul>

      <div id="display">
        <div id="lb-name" style="height: auto;">
          <label id="u-name" >暂存项目</label>
        </div>
        
        <div class="dropdown" id="dropdownbtn">
          <button id="userinfo-btn" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" id="item-resetpwd" data-toggle="modal" data-target="#myModal">修改密码</a>
            <a class="dropdown-item" id="item-logout">退出</a>
          </div>
        </div>
      </div>
      
      <hr />
  <div class="alert alert-warning">
    <strong>错误！</strong> <p id="pwd-warning"></p>
  </div>      
      <!-- 模态框 -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
   
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">修改密码</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
   
        <!-- 模态框主体 -->
        <div class="modal-body">
            <form>
            <div class="form-group">
            <label id="lb-old">原密码:</label><br>
            <input type="password" class="form-control " id="pwd-old"><br>
            </div>
            <div class="form-group">
            <label id="lb-new">新密码:</label><br>
            <input type="password" class="form-control" id="pwd-new"><br>
            </div>
            <div class="form-group">
            <label id="lb-renew">确认密码:</label><br>
            <input type="password" class="form-control" id="pwd-renew">
            </div>
            </form>
        </div>
   
        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btn-resetpwd-ok">确定</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        </div>
   
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="modal-new-project">
    <div class="modal-dialog">
      <div class="modal-content">
   
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">新建项目</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
   
        <!-- 模态框主体 -->
        <div class="modal-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">项目名</span>
            </div>
            <input type="text" class="form-control" placeholder="项目名称" id="project-name">
          </div>

          <div class="input-group mb-3">
          <form class="form-inline">
              <label for="project-owner">负责人: </label> 
              <label id="project-owner"></label> &nbsp &nbsp &nbsp &nbsp
              <label for="organization">申报部门: </label>
              <label id="project-organization"></label>
            </form>
          </div>

          <label>用途:</label>
          <div class="input-group mb-3">
            <label class="radio-inline"><input type="radio" name="project-purpose" value="教学">教学</label>&nbsp
            <label class="radio-inline"><input type="radio" name="project-purpose" value="科研">科研</label>&nbsp
            <label class="radio-inline"><input type="radio" name="project-purpose" value="办公">办公</label>&nbsp
            <label class="radio-inline"><input type="radio" name="project-purpose" value="公共">公共</label>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">主要功能及用途</span>
            </div>
            <input type="text" class="form-control" placeholder="项目的主要功能及用途" id="project-function">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">预期结果</span>
            </div>
            <input type="text" class="form-control" placeholder="项目的预期结果" id="project-expect-result">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">补充说明</span>
            </div>
            <input type="text" class="form-control" placeholder="项目的补充说明" id="project-instruction">
          </div>

          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text">计划预算(元)</span>
              </div>
              <input type="text" class="form-control" placeholder="项目的计划预算" id="project-budget">
          </div>

          <label for="project-invite-way">招标方式:</label>
          <div class="input-group mb-3">
            <label class="radio-inline"><input type="radio" name="invite-radio" value="公开招标">公开招标</label>&nbsp
            <label class="radio-inline"><input type="radio" name="invite-radio" value="邀请招标">邀请招标</label>&nbsp
            <label class="radio-inline"><input type="radio" name="invite-radio" value="竞争性谈判">竞争性谈判</label>&nbsp
            <label class="radio-inline"><input type="radio" name="invite-radio" value="单一来源">单一来源</label>&nbsp
            <label class="radio-inline"><input type="radio" name="invite-radio" value="询价采购">询价采购</label>
            <br>
            <div class="input-group-prepend">
                <div class="input-group-text">
                <input type="radio" name="invite-radio" value="其他方式">其他方式</label>
                </div>
            </div>
            <input type="text" class="form-control" placeholder="请输入招标方式" id="project-invite-way-other">
          </div>
        </div>
   
        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btn-newproject-ok">确定</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        </div>
   
      </div>
    </div>
  </div> 

  <div class="modal fade" id="modal-information">
    <div class="modal-dialog">
      <div class="modal-content">
   
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">警告！</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
   
        <!-- 模态框主体 -->
        <div class="modal-body">
            删除后将不能找回，确定删除吗？
        </div>
   
        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btn-information-modal-ok">确定</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        </div>
   
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-verify-project">
    <div class="modal-dialog">
      <div class="modal-content">
   
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">核定参数</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
   
        <!-- 模态框主体 -->
        <div class="modal-body">
        <form id="form-verify-project">
          <div class="form-group">
            <label for="verify-project-id">项目ID:</label>
            <label id="verify-project-id" name="project-id"></label>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <label for="verify-project-name">项目名:</label>
            <label id="verify-project-name"></label>
          </div>
          <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">项目最终资金:</span>
                </div>
                <input type="text" class="form-control" readonly="readonly" id="project-fin-funds">
            </div>
          </div>
          <div class="form-group">
            <label for="project-detail-inviteway">招标方式:</label>
            <label id="verify-project-inviteway"></label>
          </div>
          <label for="verify-inviteway-instruction">招标说明:</label>
          <div class="form-group">
            <textarea class="form-control" rows="3" id="verify-inviteway-instruction" name="inviteway-instruction"></textarea>
          </div>
          <label for="verify-inviterway-file">招标文件附件:</label>
          <div class="form-group">
            <input type="file" id="verify-inviterway-file" name="file">
          </div>
        </form>
          
        </div>
   
        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btn-modal-verify-project-ok">确认招标</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
   
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-invite-project">
    <div class="modal-dialog">
      <div class="modal-content">
   
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">招标信息</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
   
        <!-- 模态框主体 -->
        <div class="modal-body">
        <form id="form-verify-project">
          <div class="form-group">
            <label for="invite-project-id">项目ID:</label>
            <label id="invite-project-id" name="project-id"></label>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <label for="invite-project-name">项目名:</label>
            <label id="invite-project-name"></label>
          </div>
          <div class="form-group">
            <label for="invite-project-budget">计划预算:</label>
            <label id="invite-project-budget" name="project-id"></label>
          </div>
          <div class="form-group">
            <label for="invite-project-inviteway">招标方式:</label>
            <label id="invite-project-inviteway"></label>
          </div>
          <label for="invite-instruction">招标说明:</label>
          <div class="form-group">
            <textarea class="form-control" rows="3" id="verify-inviteway-instruction" name="invite-instruction"></textarea>
          </div>
          <label for="invite-project-file">招标文件附件:</label>
        </form>
          
        </div>
   
        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btn-modal-invite-project-ok">申请修改参数</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
   
      </div>
    </div>
  </div>
  
      <div class="tab-content">
        <div id="tab-1" class="container tab-pane active tabcontent"><br>
          

          <div class="btn-group">
            <button type="button" class="btn btn-primary" id="btn-new-project" data-toggle="modal" data-target="#modal-new-project">新建项目</button>
            <button type="button" class="btn btn-primary" id="btn-refresh-tmptable">刷新</button>
          </div>
          
          <div>
          <table id="TmpProjectTable">
          
          </table>
          </div>
         
          <h4>已废除项目:</h4>
          <table id="abolition-project-table"></table>
        </div>
       <div id="tab-2" class="container tab-pane fade tabcontent"><br>
         <h3>Menu 1</h3>
         <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
       </div>
       <div id="tab-3" class="container tab-pane fade tabcontent"><br>
          <h3>Menu 2</h3>
         <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
       </div>
     </div>

      </div>

  <script>

  </script>
</body>
</html>